body {
    color: white;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
    min-height: 100vh;
}

.content {
    max-width: 800px;
}

h2 {
    font size: 5rem;
    font-style: italic;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: -2px;
}

p {
    font size: 1.25rem;
    font-style: italic;
    line-height:1.5;
    margin-bottom: 1.5rem;
}

