
body {
    color: white;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 2fr 2fr;
    overflow: hidden;
}



/* RADAR SKAL BLIVE */
.rsb-container {
    background-color: rgb(18, 18, 47);
    margin-left: 5rem;
    margin-right: 3rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.rsb-container p {
    width: 90%;
    margin-left: 1rem;
    font-family: 'Inter',sans-serif;
    text-align: justify;
    font-size: 1.25rem;
    line-height: 2rem;
}

.rsb-container h2 {
    font-size: 5rem;
    font-family: 'DrukFont',sans-serif;
    margin-left: 2.5rem;
    margin-top: 1rem;
}

.f-btn {
    background-color: white;
    width: 8rem;
    font-size: 1.25rem;
    padding: 0.5rem;
    border: none;
    font-family: 'Inter';
    font-style: Italic;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.f-btn:hover {
background-color: #c3c3c3;
}


/* KONCERTER */

.annebox {
    display: flex;
    gap: 1rem;
}

.barylbox {
    display: flex;
    gap: 1rem;
}

.dragbox {
    display: flex;
    gap: 1rem;
}

.koncerter img {
    width: 30rem;
}

.billet-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.billet-info p {
    margin-left: 1rem;
    font-family: 'Inter',sans-serif;
    font-size: 1.25rem;

}

.anne-roemer h2 {
    font-family: 'DrukFont',sans-serif;
    font-size: 2rem;
    margin-left: 2.5rem;
    margin-top: 5rem;
}


.baryl h2 {
    font-family: 'DrukFont',sans-serif;
    font-size: 2rem;
    margin-left: 10rem;
    margin-top: 2.5rem;
}


.aarhus-drag h2 {
    font-family: 'DrukFont',sans-serif;
    font-size: 2rem;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
}


.koncerter button {
    background-color: white;
    width: 8rem;
    font-size: 1.25rem;
    border: none;
    font-family: 'Inter';
    font-style: Italic;
    border-radius: 25px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.koncerter button:hover {
    background-color: #c3c3c3;
}




/* ARTIKEL KASSE 1 */

.crowdfunding-workshop {
    font-family: 'DrukFont',sans-serif;
    font-style: italic;
    margin-left: 5rem;
    margin-right: 3rem;
}

.crowdfunding-workshop img {
    width: 100%
}

/* ARTIKEL KASSE 2 */

.fremtid {
    font-family: 'DrukFont',sans-serif;
    font-style: italic;
    margin-left: 5rem;
    margin-right: 3rem;
}


.fremtid img {
    width: 100%;
}





.nyhedsbrev {
    background-color: rgba(26, 0, 46, 0.7);
    text-align: center;
    padding: 40px 20px;
    margin-top: 50px;
    width: 100%;
}

.nyhedsbrev h2 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.nyhedsbrev p {
    font-size: 24px;
    margin-bottom: 30px;
    color: white;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.signup-form input {
    padding: 15px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    text-align: center;
}

.signup-form button {
    background-color: white;
    color: black;
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
}

.signup-form button:hover {
    background-color: #c3c3c3;
}



@media (max-width: 1245px) {
/* Koncerter */
.koncerter img {
    width: 25rem;
}

}

@media (max-width: 1180px) {
    .koncerter img {
        width: 21rem;
    }
}
@media (max-width: 1100px) {
    .koncerter img {
        width: 20rem;
    }
    .anne-roemer h2, .baryl h2, .aarhus-drag h2 {
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-top: 2rem;
    }

    .billet-info p {
        font-size: 1rem;
    }

    .koncerter button {
        font-size: 1.2rem;
        width: 6rem;
    }
}


    /* TABLET BREAKPOINT */
@media (max-width: 1024px) {
        .logo {
            display: none;
        }
        .search-form {
            display: none;
        }


        main {
            grid-template-columns: 1fr 1fr;
        }

        /* RSB */

        .rsb-container {
            margin: 2rem 1rem;
        }


        .rsb-container h2 {
            font-size: 3.5rem;
            margin-left: 1.5rem;
        }

        .rsb-container p {
            font-size: 1rem;
            line-height: 1.5rem;
        }

        /* Koncerter */
        .koncerter img {
            width: 20rem;
        }

        .anne-roemer h2, .baryl h2, .aarhus-drag h2 {
            font-size: 1.5rem;
            margin-left: 1rem;
            margin-top: 2rem;
        }

        .billet-info p {
            font-size: 1rem;
        }

        .koncerter button {
            font-size: 1.2rem;
            width: 6rem;
        }
         
}
    
    
/* MOBIL BREAKPOINT */
@media (max-width: 768px) {

        .logo {
            display: none;
        }
        .search-form {
            display: none;
        }

        main {
            grid-template-columns: 1fr; /* bliver til 1 column */
        }
    
        /* RSB */
        .rsb-container {
            margin: 1rem;
        }
    
        .rsb-container h2 {
            font-size: 3rem;
            margin-left: 1rem;
            text-align: center;
        }
    
        .rsb-container p {
            width: 95%;
            margin: 1rem auto;
            text-align: center;
        }
    
        .allebtn {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        /* Koncerter */
        .annebox, .barylbox, .dragbox {
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 2rem;
        }
    
        .koncerter img {
            width: 100%;
            max-width: 25rem;
        }
    
        .billet-info {
            display: none;
        }
    
        .anne-roemer h2, .baryl h2, .aarhus-drag h2 {
            margin: 1rem 0;
            text-align: center;
        }
    
        /* Undersider links */
        .crowdfunding-workshop, .fremtid {
            margin: 1rem;
        }
    
        /* nyhedsbrev */
        .nyhedsbrev h2 {
            font-size: 2rem;
        }
    
        .nyhedsbrev p {
            font-size: 1rem;
        }
    
        .signup-form input {
            width: 80%;
        }

        .signup-form button {
            width: 50%;
            justify-content: center;
            margin-left: 5rem;
        }
}


/* MEGET SMÅ MOBILER BREAKPOINT */
@media (max-width: 480px) {


}