@font-face {
    font-family: 'DrukFont';
    src: url('/fonts/DrukWide-SuperItalic-Trial.woff') format('woff');
    /* herover har jeg brugt @font-face til at få indsat min brugerdefineret font som jeg har downloaded.
     Den fantes ikke på googlefonts så har selv indsat den her  */
}


.rr {
    text-decoration: none;
    color: white;
    font-family: 'DrukFont';
    font-size: 60px;
    text-align: center;
    margin: 0; /* Fjerner den uønskede plads over */
}

body{
    background-image: url('/images/baggrund/baggrund1.webp');
    background-size: cover; /* billedet fylder hele skærmen */
    background-position: center center; /* billedet bliver sat centralt */
    background-repeat: no-repeat; /* gør så billedet det ikke gentager sig */
    margin: 0;
    padding: 0;
}


header{
    background: black;
    position: sticky; /* gør så headeren er fastgjort øverst på siden når man scroller ned. */
    top: 0; /* gør at headeren blier helt øverst */
    padding: 15px;
    display: block;
    align-items: center;
    justify-content: center;
    font-family: Impact;
    min-height: 60px; /* headerens minimumshøjde */
    z-index: 1000; /* holder headeren over alt andet indhold på siden når der scrolles. Gør det nemt at navigere rundt hvis man har scrollet ned */
}
 
 header .navbar ul{
    list-style: none; /* fjerner punkterne på listen */
    padding: 0;
    margin: 0;
}
 
 header .navbar ul li{
    position: relative; /* gør det muligt at indsætte dropdown-menuer */
    float: left; /* placere menupunkterne ved siden for hinanden fra venstre */
}
 
 header .navbar ul li a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block; /* gør at hele området bliver klikbart */
    padding: 10px 75px;
}
 
 header .navbar ul li a:hover{
    color: white;
}
 
 header .navbar ul li ul{
    position: absolute; /* dropdown-menu bliver vist relativt til parent-elementet */
    width: 400px;
    display: none;
    z-index: 1000;
    top: 100%;
    left: 0;
}
 
 header .navbar ul li:focus-within > ul,
 header .navbar ul li:hover > ul{
    display: block; /* dropdown menuen bliver vist ved keyboardfokus eller ved hover med musen */
}
 



.banner-container {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.banner-container .logo {
    width: 8%; /* logoets bredde er 8% af containerens */
    height: auto;
    max-height: 6rem;
    max-width: 6rem;
    margin-left: 100px;
}

.banner-container .logo img {
    width: 100%; /* billedet fylder hele logorammen */
}




footer {
    background-color: black;
    color: white;
    display: grid; /* bruger grid til at organisere elementerne i footeren */
    padding: 20px;
    justify-content: center;
    gap: 30px; 
}

.ikon-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap; /* ikonerne kommer på forskellige rækker når skærmen bliver mindre */
    padding: 10px;
}

.ikon-container img {
    height: 40px;
}

.logo-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap; /* logoerne kommer på forskellige rækker når skærmen bliver mindre */
    padding: 10px;
}

.logo-container img { 
    height: 100px; /* gør at logoerne har ensartet højde */
}

.kontakt-info {
    font-size: 14px;
    line-height: 1.5;
}

img[alt="Godsbanen"] {
    width: 150px;
}

#menu-toggle {
    display: none; /* skjuler menu toggle som standard */
}

.burger-menu {
    display: none; /* skjult som standard */
    cursor: pointer; /* gør menuen klikbar */
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1001;
    padding: 15px;
}

.burger-menu span { 
    display: block; /* hver streg/span vises som en block, de 3 danner vores menu bar som vi klikker på */
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px 0;
    transition: 0.25s;
}

    /* DESKTOP BREAKPOINT */
    @media (min-width:1024px) {

        h1 {
            text-align: center;
            justify-content: center;
        }

        .burger-menu {
            display: none;
        }
    
        .navbar {
            display: block;
        }
    
        header .navbar ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }
    
        header .navbar ul li {
            float: left;
        }
    
        header .navbar ul li a {
            font-size: 25px;
            padding: 10px 75px; /* topen og bundens padding er altså 10px og venstre og højres er 75px */
            white-space: nowrap; /* gør at indholdet ikke kan bryde til en ny linje */
        }
    
        header .navbar ul li ul {
            position: absolute;
            width: 400px;
            background: black;
        }

         }


    /* TABLET BREAKPOINT */
    @media (max-width: 1024px) {
  
        .banner-container {
            display: flex;
            justify-content: center;
        }

        h1 {
            text-align: center;
            justify-content: center;
        }

        .logo {
            display: none;
        }
        .search-form {
            display: none;
        }
        .burger-menu {
            display: block;
        }
        .navbar {
            display: none; /* gør navbaren usynlig som standard */
            position: fixed; /* fastlåser navbaren til toppen af skærmen */
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: rgba(12, 0, 63, 0.8);
            padding-top: 60px;
        }
    
        header .navbar ul {
            flex-direction: column;
        }
    
        header .navbar ul li {
            float: none; 
            width: 100%;
        }
    
        header .navbar ul li ul {
            position: static;
            width: 100%;
            background: #6C38F0;
        }

        /* når menuen er aktiveret altså vores checkbox er checked, er navbaren synlig */
        #menu-toggle:checked ~ .navbar {
            display: block;
        }
    }

 
 /* MOBIL BREAKPOINT */
@media (max-width: 768px) {

    .rr {
        font-size: 2rem;
    }

    h1 {
        text-align: center;
        justify-content: center;
    }

    .banner-container {
        justify-content: center;
    }

    .logo {
        display: none;
    }
    .search-form {
        display: none;
    }

    .ikon-container {
        gap: 30px; 
    }
    
    .logo-container {
        gap: 20px; /* mindre gap */
    }
    
    .logo-container img {
        height: 80px; /* logoerne bliver mindre */
    }
    
    img[alt="Godsbanen"] {
        width: 120px;
    }
}


/* MEGET SMÅ MOBILER BREAKPOINT */
@media (max-width: 480px) {

    .rr {
        font-size: 2rem;
    }

    .banner-container {
        justify-content: center;
        
    }

    .ikon-container {
        gap: 20px; /* mindre gap */
    }
    
    .logo-container {
        gap: 15px;
    }
    
    .logo-container img {
        height: 60px; /* mindre logoer */
    }
    
    img[alt="Godsbanen"] {
        width: 90px;
    }
    
    .ikon-container img {
        height: 30px; /* mindre ikoner */
    }
}