@font-face {
    font-family: 'DrukFont';
    src: url('/fonts/DrukWide-SuperItalic-Trial.woff') format('woff');
}


.rr {
    text-decoration: none;
    color: white;
    font-family: 'DrukFont';
    font-size: 60px;
    text-align: center;
    margin: 0; /* Fjerner den uønskede plads over */
}

body{
    background-image: url('/images/baggrund/baggrund1.webp');
    background-size: cover; /* billedet fylder hele skærmen */
  background-position: center center; /* billedet bliver sat centralt */
  background-repeat: no-repeat; /* gør så det ikke gentager sig */
    margin: 0;
    padding: 0;
}


header{
    background: black;
    position: sticky;
    top: 0;
    padding: 15px;
    display: block;
    align-items: center;
    justify-content: center;
    font-family: Impact;
    min-height: 60px;
    z-index: 1000;
}
 
 header .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
 
 header .navbar ul li{
    position: relative;
    float: left;
}
 
 header .navbar ul li a {
    text-decoration: none;
    font-size: 25px;
    
    color: white;
    display: block;
    padding: 10px 75px;
}
 
 header .navbar ul li a:hover{
    color: white;
}
 
 header .navbar ul li ul{
    position: absolute;
    width: 400px;
    display: none;
    z-index: 1000;
    top: 100%;
    left: 0;
}
 
 header .navbar ul li:focus-within > ul,
 header .navbar ul li:hover > ul{
    display: block;
}
 







.banner-container {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.banner-container .logo {
    width: 8%; 
    height: auto;
    max-height: 6rem;
    max-width: 6rem;
    margin-left: 100px;
}











footer {
    background-color: black;
    color: white;
    display: grid;
    padding: 20px;
    justify-content: center;
    gap: 30px; 
}

.ikon-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap; /* ikonerne kommer på forskellige rækker når skærmen bliver mindre */
    padding: 10px;
}

.ikon-container img {
    height: 40px;
}

.logo-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap; /* logoerne kommer på forskellige rækker når skærmen bliver mindre */
    padding: 10px;
}

.logo-container img { 
    height: 100px;
}

.kontakt-info {
    font-size: 14px;
    line-height: 1.5;
}

img[alt="Godsbanen"] {
    width: 150px;
}

#menu-toggle {
    display: none;
}

.burger-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1001;
    padding: 15px;
}

.burger-menu span {
    display: block;
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px 0;
    transition: 0.25s;
}

    /* DESKTOP BREAKPOINT */
    @media (min-width:1024px) {

        h1 {
            text-align: center;
            justify-content: center;
        }

        .burger-menu {
            display: none;
        }
    
        .navbar {
            display: block;
        }
    
        header .navbar ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }
    
        header .navbar ul li {
            float: left;
        }
    
        header .navbar ul li a {
            font-size: 25px;
            padding: 10px 75px;
            white-space: nowrap;
        }
    
        header .navbar ul li ul {
            position: absolute;
            width: 400px;
            background: black;
        }

        

    }


    /* TABLET BREAKPOINT */
    @media (max-width: 1024px) {
  
        .banner-container {
            display: flex;
            justify-content: center;
        }

        h1 {
            text-align: center;
            justify-content: center;
        }

        .logo {
            display: none;
        }
        .search-form {
            display: none;
        }
        .burger-menu {
            display: block;
        }
        .navbar {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: rgba(12, 0, 63, 0.8);
            padding-top: 60px;
        }
    
        header .navbar ul {
            flex-direction: column;
        }
    
        header .navbar ul li {
            float: none;
            width: 100%;
        }
    
        header .navbar ul li ul {
            position: static;
            width: 100%;
            background: #6C38F0;
        }
    
        #menu-toggle:checked ~ .navbar {
            display: block;
        }
    }

 

@media (max-width: 768px) {

    h1 {
        text-align: center;
        justify-content: center;
    }

    .banner-container {
        justify-content: center;
    }

    .logo {
        display: none;
    }
    .search-form {
        display: none;
    }

    .ikon-container {
        gap: 30px; 
    }
    
    .logo-container {
        gap: 20px; /* Mindre gap */
    }
    
    .logo-container img {
        height: 80px; /* logoerne bliver mindre */
    }
    
    img[alt="Godsbanen"] {
        width: 120px;
    }
}


@media (max-width: 480px) {


    .banner-container {
        justify-content: center;
        
    }

    .ikon-container {
        gap: 20px; /* mindre gap */
    }
    
    .logo-container {
        gap: 15px;
    }
    
    .logo-container img {
        height: 60px; /* mindre logoer */
    }
    
    img[alt="Godsbanen"] {
        width: 90px;
    }
    
    .ikon-container img {
        height: 30px; /* mindre ikoner */
    }
}